<div class="spinner" ng-show="loading">
    <div class="loader"></div>
</div><!--navbar-->
<nav class="navbar navbar-default" id="nav">
    <div class="contaner-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#first-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">   <img src="../../images/test-on-need-logo-192_42-1.png"
                                                     width="192"/></a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="first-navbar">
            <ul class="nav navbar-nav">
                <!--<li><a href="#/everyWeb"><button class="btn btn-primary nav-btn ">EveryWeb</button><span class="sr-only">(current)</span></a></li>-->
                <!--<li><a href="#/everyApi"><button  id="apiTestingModel" class="btn btn-primary nav-btn ">EveryApi</button><span class="sr-only">(current)</span></a></li>-->
                <!--<li><a href="#/everyMobile"><button class="btn btn-primary nav-btn ">EveryMobile</button> <span class="sr-only">(current)</span></a>
                </li>-->


                <!--<li ng-class="{active: $state.includes('everyWeb')}"><a class=" nav-btn" href="#/everyWeb">-->
                <!--EveryWeb-->
                <!--</a></li>-->
                <!--<li  ng-class="{active: $state.includes('everyApi')}"><a class="nav-btn" href="#/everyApi">-->
                <!--EveryApi</a></li>-->
                <!--<li  ng-class="{active: $state.includes('everyMobile')}"><a class="nav-btn" href="#/everyMobile">EveryMobile<span class="sr-only">(current)</span></a></li>-->
                <li    ng-class="{active: isActive('/home/everyWeb')}" id="webTestingModel"><a  class=" nav-btn1" href="#/home/everyWeb">
                    EveryWeb
                </a></li>
                <li ng-class="{active: isActive('/home/everyAPI')}" id="apiTestingMode" ><a  class="nav-btn2" href="#/home/everyAPI" >
                    EveryAPI</a></li>
                <li ng-class="{active: isActive('/home/everyMobile')}" id="mobileTestingModel"><a  class="nav-btn3" href="#/home/everyMobile">EveryMobile</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a id="login" href="#">
                    <button style="border-color: #ffffff; !important;" class="btn btn-primary menuLognHeading">Login</button></a></li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!--Sidebar-->
<nav class="navbar navbar-default fullheight " id="sidebar" >
    <div >
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>


        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse " id="sidebar1" >

            <div class="row" style="background-color:#874aa3;">
                <div class="col-md-12">
                    <h4 class="menuResources"
                        style="color:white;padding-top: 1% ! important">
                        Resources</h4></div>
            </div>

            <br>
            <a id="userManual" href="../assets/UserManual-EveryWeb.pdf" target="_blank" style="text-decoration: none;font-size: medium;color:white;pading-left: 20%;text-align: left">
                <i class="fa fa-file-pdf-o" style="font-size:30px;margin-right:3%;color:white"></i> User Manual</a>

            <!--<a href="#">-->
            <!--<img clss="img-responsive"-->
            <!--src="../../images/pdf-icon.png" style="height:1%;width:20%;flat: left"/>-->
            <!--<span ><img style="width: 50%;background-color: transparent" src="images/pdf.png"/>-->
            <!--</span>-->
            <!--<p style="font-size: medium;color:white;padding-left: 20%"> User Manual</p>-->
            <!--</a>-->

            <div class="row force-to-bottom" id="contactUs">
                <div class="col-md-12 " style="background-color:#9753b5;padding:5%;">
                    <h4 style="text-align: center;color:white;">Contact Us</h4>
                    <p style="font-size: medium;text-align: center;color:white;">sales@testonneed.com</p>
                </div>
            </div>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- Page Content Holder -->
<div class="content fullheight"  style=" background-color: rgba(142,68,173,0.9);"  ui-view>


</div>




<!--<div style="padding: 6% 0 5% 0%;">-->
    <!--<input readonly="true" style="background-color:transparent;" type="text" class="form-control1  webGroupInputBox"-->
           <!--ng-ouseover="webMouseOverOne=true"-->
           <!--ng-mouseleve="webMouseOverOne=false" data-toggle="popover" data-trigger="hover"-->
           <!--data-content="Recording the web application for browser testing  and Convert Recorded testcase to JSON Format"-->
           <!--data-placement="left"-->
           <!--value="Kantu">-->
    <!--<div class="form-inline">-->

        <!--<input readonly="true" style=" background-color:transparent;width: 50%;float:left;cursor:default;" type="text"-->
               <!--class="form-control2 webGroupInputBox"-->
               <!--ng-mousever="webMouseOverTwo=true"-->
               <!--ng-mouseeave="webMouseOverTwo=false" data-toggle="popover" data-trigger="hover"-->
               <!--data-content="Record the web application for API Testing"-->
               <!--data-placement="left"-->
               <!--value="Postman">-->
        <!--<input readonly style="background-color:transparent;width: 50%;float: right" type="text"-->
               <!--class="form-control2 webGroupInputBox"-->
               <!--ng-museover="webMouseOverThree=true"-->
               <!--ng-moueleave="webMouseOverThree=false" data-toggle="popover" data-trigger="hover"-->
               <!--data-content="Selection and Execution of Test Case and view log/report"-->
               <!--data-placement="right"-->
               <!--value="RIDE GUI">-->
    <!--</div>-->

    <!--<div class="form-inline">-->
        <!--<input readonly="true" style=" background-color:transparent;width: 50%;float:left;cursor:default;" type="text"-->
               <!--class="form-control2 webGroupInputBox"-->
               <!--ng-mousover="webMouseOverFour=true"-->
               <!--ng-moueleave="webMouseOverFour=false" data-toggle="popover" data-trigger="hover"-->
               <!--data-content="Browser Automation"-->
               <!--data-placement="left"-->
               <!--value="Selenium">-->
        <!--<input readonly style="background-color:transparent;width: 50%;float: right" type="text"-->
               <!--class="form-control2 webGroupInputBox"-->
               <!--ng-mousover="webMouseOverFive=true"-->
               <!--ng-mouseeave="webMouseOverFive=false" data-toggle="popover" data-trigger="hover"-->
               <!--data-content="Visualisation of Automated steps"-->
               <!--data-placement="right"-->
               <!--value="Chrome Driver">-->
    <!--</div>  <input readonly="true" style="background-color:transparent;" type="text" class="form-control1  webGroupInputBox"-->
                   <!--ng-ouseover="webMouseOverSix=true"-->
                   <!--ngmouseleave="webMouseOverSix=false" data-toggle="popover" data-trigger="hover"-->
                   <!--data-content="Load / Performance testing using API's"-->
                   <!--data-placement="left"-->
                   <!--value="Newman">-->


    <!--<div class="form-inline">-->
        <!--<input readonly="true" style=" background-color:transparent;width: 50%;float:left;cursor:default;" type="text"-->
               <!--class="form-control2 webGroupInputBox"-->
               <!--ng-mousever="webMouseOverSeven=true"-->
               <!--ng-mousleave="webMouseOverSeven=false" data-toggle="popover" data-trigger="hover"-->
               <!--data-content="Execution of Test Case for Continuous Integration and Continuous Deployment"-->
               <!--data-placement="left"-->
               <!--value="Jenkins">-->
        <!--<input readonly style="background-color:transparent;width: 50%;float: right" type="text"-->
               <!--class="form-control2 webGroupInputBox"-->
               <!--ng-mouseoer="webMouseOverEight=true"-->
               <!--ng-mouseeave="webMouseOverEight=false" data-toggle="popover" data-trigger="hover"-->
               <!--data-content="Analytics Viewer to display graphs"-->
               <!--data-placement="right"-->
               <!--value="Kibana">-->
    <!--</div>-->
    <!--<div class="form-inline">-->
        <!--<input readonly="true" style=" background-color:transparent;width: 50%;float:left;cursor:default;" type="text"-->
               <!--class="form-control2 webGroupInputBox"-->
               <!--ng-mousever="webMouseOverNine=true"-->
               <!--ng-mousleave="webMouseOverNine=false" data-toggle="popover" data-trigger="hover"-->
               <!--data-content="Feed data to Elastic Search for visualizatio"-->
               <!--data-placement="left"-->
               <!--value="Logstash">-->
        <!--<input readonly style="background-color:transparent;width: 50%;float: right" type="text"-->
               <!--class="form-control2 webGroupInputBox"-->
               <!--ng-mousever="webMouseOverTen=true"-->
               <!--ng-mousleave="webMouseOverTen=false" data-toggle="popover" data-trigger="hover"-->
               <!--data-content="Filter and create graphs from data"-->
               <!--data-placement="auto"-->
               <!--value="Elastic Search">-->
    <!--</div>-->
    <!--<input readonly="true" style="background-color:transparent;" type="text" class="form-control1  webGroupInputBox"-->
           <!--ng-mouseoer="webMouseOverLeven=true"-->
           <!--ng-mouseeave="webMouseOverLeven=false" data-toggle="popover" data-trigger="hover"-->
           <!--data-content="Creating backend code"-->
           <!--data-placement="left"-->
           <!--value="Python">-->
<!--</div>-->