.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    border-bottom : 16px solid black;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 45%;
    left: 45%;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.spinner{
    width: 100%;
    height: 100%;
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    background: white;
    opacity: 0.6;
}
.c {
    background: red;
    width: 200px;
    height: 80px;
    /*border-bottom-left-radius: 50% 25%;*/
    /*border-bottom-right-radius: 50% 25%;*/
    /*border-top-left-radius: 50% 25%;*/
    /*border-top-right-radius: 50% 25%;*/
    /*border-radius: 50%;*/
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-left-radius: 50%;

}

.menuLogo {
    margin-top: 2vh;
    margin-bottom: 2vh;

}

.menuHeading {
    font-size: large;
    margin-top: 3vh;
    /*margin-bottom: 2vh;*/

    /*text-align: center;*/
}

.menuApiHeading {
    margin-left: 11vh;
}

.menuLoginHeading {

    margin-top: 1.5vw;
    margin-bottom:1.5vw;

}

.menuLogin {
    background-color: #4380b4;
    text-align: center
}

.menuLoginBtn {
    margin-top: 7%;
    margin-bottom: 7%;

}

/*.btn-primary{*/
/*border-color: #ffffff; !important;*/
/*}*/

.menuMobile {
    text-align: center;
    /*margin-bottom: 1%;*/
    /*margin-top: 1.4%;*/

}

.menuMobileBtn {
    font-size: large;
    margin-left: -50px;
}
.force-to-bottom {
    position:absolute;
    bottom: 0;
    width: 100%;
}



.row-color {
    text-align: center;

    background-color: #874aa3;
    /*margin-right: 350px;*/
}

.webDivBtn {
    background-color: #4b8ec9;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 6%;
    /*width:80%;*/
}.apiDivBtn {
     background-color: #4b8ec9;
     text-align: center;
     padding-top: 1%;
     padding-bottom: 6%;
     /*width:80%;*/
     margin: auto;

 }.mobileDivBtn {
      background-color: #4b8ec9;
      text-align: center;
      padding-top: 1%;
      padding-bottom: 6%;
      /*width:60%;*/
      /*margin: auto;*/

  }

.webStepBtn {
    background-color: #4A8FCA;
    padding: 5%;
    color: #fff;
    border-radius: 4px;
    font-weight: 400;
    box-shadow: 0 2px 0 #233240;
    -webkit-box-shadow: 0 2px 0 #233240;
    -moz-box-shadow: 0 2px 0 #233240;
    -ms-box-shadow: 0 2px 0 #233240;
    margin-top: 9%;
}.apiStepBtn {
     background-color: #4A8FCA;
     padding: 5%;
     color: #fff;
     border-radius: 4px;
     font-weight: 400;
     box-shadow: 0 2px 0 #233240;
     -webkit-box-shadow: 0 2px 0 #233240;
     -moz-box-shadow: 0 2px 0 #233240;
     -ms-box-shadow: 0 2px 0 #233240;
     margin-top: 9%;
 }.mobileStepBtn {
      background-color: #4A8FCA;
      padding: 5%;
      color: #fff;
      border-radius: 4px;
      font-weight: 400;
      box-shadow: 0 2px 0 #233240;
      -webkit-box-shadow: 0 2px 0 #233240;
      -moz-box-shadow: 0 2px 0 #233240;
      -ms-box-shadow: 0 2px 0 #233240;
      margin-top: 9%;
  }
.webGroupInputBox {

    background-color: #4b8ec9;

}.mobileGroupInputBox {

    background-color: #4b8ec9;

}
.form-control1 {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}.form-control2 {
    display: block;
    width: 50%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/* transition: border-color ease-in-out .15s,box-sh
/*.form-control:focus {*/
    /*border-color:white ;*/
    /*!*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);*!*/
    /*box-shadow:none;*/
/*}*/


.apiGroupInputBox {

     background-color: #4b8ec9;

 }

.menuResources {
    text-align: center;
    /*background-color: #902190;*/
    /*height:10%;*/
    /*width:100%;*/
    /*padding: 5%;*/
    /*margin-left: -2vh;*/

}

.form-control {
    height: auto !important;

}

.webSpeech {
    /*margin-left: 10%;*/
    /*margin-right: 10%;*/
    /*margin: 8% 40% 0 40%;*/
    margin: 0;
    padding: 3%;
    position: relative;
    /*width: 100%;*/
    height: auto;
    text-align: center;
    line-height: 40px;
    background-color: #4b8ec9;
    border: 4px solid #666;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    /*-webkit-box-shadow: 2px 2px 4px #888;*/
    /*-moz-box-shadow: 2px 2px 4px #888;*/
    /*box-shadow: 2px 2px 4px #888;*/
}
.apiSpeech {
    /*margin-left: 10%;*/
    /*margin-right: 10%;*/
    /*margin: 8% 40% 0 40%;*/
    margin: 0;
    padding: 3%;
    position: relative;
    /*width: 100%;*/
    height: auto;
    text-align: center;
    line-height: 40px;
    background-color: #4b8ec9;
    border: 4px solid #666;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    /*-webkit-box-shadow: 2px 2px 4px #888;*/
    /*-moz-box-shadow: 2px 2px 4px #888;*/
    /*box-shadow: 2px 2px 4px #888;*/
}.mobileSpeech {
     /*margin-left: 10%;*/
     /*margin-right: 10%;*/
     /*margin: 8% 40% 0 40%;*/
     margin: 0;
     padding: 3%;
     position: relative;
     /*width: 100%;*/
     height: auto;
     text-align: center;
     line-height: 40px;
     background-color: #4b8ec9;
     border: 4px solid #666;
     -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
     border-radius: 30px;
     /*-webkit-box-shadow: 2px 2px 4px #888;*/
     /*-moz-box-shadow: 2px 2px 4px #888;*/
     /*box-shadow: 2px 2px 4px #888;*/
 }

/*.speech:before {*/
/*content: ' ';*/
/*position: absolute;*/
/*width: 0;*/
/*height: 0;*/
/*left: 32px;*/
/*top: 44px;*/
/*border: 12px solid;*/
/*border-color: #666 transparent transparent #666;*/
/*}*/
/*.speech:after {*/
/*content: ' ';*/
/*position: absolute;*/
/*width: 0;*/
/*height: 0;*/
/*left: 35px;*/
/*top: 40px;*/
/*border: 10px solid;*/
/*border-color: #fff transparent transparent #fff;*/
/*}*/

p.webSpeech-bubble {
    position: relative;
    background: #00aabb;
    border-radius: 100%;
    width: 30vh;
    height: 10vh;
    border: 2px solid;
    border-color: black;

}p.apiSpeech-bubble {
     position: relative;
     background: #00aabb;
     border-radius: 100%;
     width: 30vh;
     height: 10vh;
     border: 2px solid;
     border-color: black;

 }

/*.speech-bubble:after {*/
/*content: '';*/
/*position: absolute;*/
/*bottom: 0;*/
/*left: 30%;*/
/*width: 0;*/
/*height: 0;*/
/*border: 16px solid transparent;*/
/*border-top-color: #00aabb;*/
/*border-bottom: 0;*/
/*margin-left: -1px;*/
/*margin-bottom: -8px;*/
/*}*/
.modal {
    top: 20vh;
    /*left:0;*/

}.apiMoal1ForLoad {
     top:12vh ! important;
     position: fixed;
     /*left:0;*/

 }
/*.nav-tabs >li >img {*/
/*border-bottom: none ! important;*/
/*}*/


/*.modal {*/
/*position: fixed;*/
/*top: 0;*/
/*right: 0;*/
/*bottom: 0;*/
/*left: 0;*/
/*z-index: 1050;*/
/*display: none;*/
/*overflow: hidden;*/
/*-webkit-overflow-scrolling: touch;*/
/*outline: 0;*/
/*}*/


/*.modal-backdrop {*/
    /*!* bug fix - no overlay *!*/
    /*display: none;*/
/*}*/
.modal-backdrop.in {
    opacity: 0.5 !important;
}

.modal-dialog {
    width: 50vh;
    margin: 30px auto;
}

.webModal-dialog {
      width: 60vh;

      margin: 30px auto;
  }
.apiModal-dialog {
    width: 60vh;

    margin: 3px auto;
}

.panel-pink {
    background-color: #874aa3;
}

.panel {
    margin-bottom: 0 !important;
}.panel-body {

     padding-top:0 !important;
 }.stepTextColor{
      color: white;
  }

.apiModalViaGUIHeadingStyle{
    border: none;
    cursor: default;
    background-color: grey !important;
    margin-bottom:10% !important;

}.apiModalViaGUIHeadingStyle:hover{
     background-color: darkgrey;
 }.webModalForBrowserHeadingStyle{
    border: none;
    cursor: default;
    background-color: grey !important;
    margin-bottom:10% !important;

}.webModalForBrowserHeadingStyle:hover{
     background-color: darkgrey;
 }.webModalForAPIHeadingStyle{
    border: none;
    cursor: default;
    background-color: grey !important;
    margin-bottom:10% !important;

}.webModalForAPIHeadingStyle:hover{
     background-color: darkgrey;
 }.webModalViaGUIHeadingStyle{
    border: none;
    cursor: default;
    background-color: grey !important;
    margin-bottom:10% !important;

}.webModalViaGUIHeadingStyle:hover{
     background-color: darkgrey;
 }.webModalViaTestOpsHeadingStyle{
    border: none;
    cursor: default;
    background-color: grey !important;
    margin-bottom:10% !important;

}.webModalViaTestOpsHeadingStyle:hover{
     background-color: darkgrey;
 }.webModalAPIHeadingStyle{
    border: none;
    cursor: default;
    background-color: grey !important;
    margin-bottom:10% !important;

}.webModalAPIHeadingStyle:hover{
     background-color: darkgrey;
 }.mobileModalViaGUIHeadingStyle{
    border: none;
    cursor: default;
    background-color: grey !important;
    margin-bottom:10% !important;

}.mobileModalViaGUIHeadingStyle:hover{
     background-color: darkgrey;
 }.mobileModalViaTestOpsHeadingStyle{
    border: none;
    cursor: default;
    background-color: grey !important;
    margin-bottom:10% !important;

}.mobileModalViaTestOpsHeadingStyle:hover{
     background-color: darkgrey;
 }.webModalBrowserHeadingStyle{
    border: none;
    cursor: default;
    background-color: grey !important;
    margin-bottom:10% !important;

}.webModalBrowserHeadingStyle:hover{
     background-color: darkgrey;
 }

.modalGUIApiHeadingStyle{
    border: none;
    cursor: default;
    background-color: grey !important;
}.modalGUIApiHeadingStyle{
     background-color: darkgrey;
 }
.apiModalGUIApiHeadingStyle{
    border: none;
    cursor: default;
    background-color: grey !important;
    margin-bottom:10% !important;
}.apiModalGUIApiHeadingStyle:hover{
     background-color: darkgrey;
 }
.apiModalGUIBrowserHeadingStyle{
    border: none;
    cursor: default;
    background-color: grey !important;
}.apiModalGUIBrowserHeadingStyle:hover{
     background-color: darkgrey;
 }
.modalViaTestOpsHeadingStyle{
    border: none;
    cursor: default;
    background-color: grey !important;
    margin-bottom:10% !important;
}.modalViaTestOpsHeadingStyle:hover{
     background-color: darkgrey;
 }
.apiModalViaTestOpsHeadingStyle{
    border: none;
    cursor: default;
    background-color: grey !important;
    margin-bottom:8% !important;





}.apiModalViaTestOpsHeadingStyle{
     background-color: darkgrey;
 }
.modalApiHeadingStyle{
    border: none;
    cursor: default;
    background-color: grey !important;
}.modalApiHeadingStyle{
     background-color: darkgrey;
 }
.tabLinksColorChange{
    color:white;
}

.nav-tabs>li.active>a:hover {
    background-color: #874aa3!important;

}.nav-tabs>li.active>a:focus {
     background-color: #874aa3!important;
     color: white!important;


 }.nav-tabs>li.active>a:hover {
      background-color: #874aa3!important;
      color: white;

  }.nav-tabs>li.active>a {
       background-color: #874aa3!important;
       color: white;

   }.nav>li.disabled>a:focus, .nav>li.disabled>a:hover{
        cursor: pointer!important;
        border: none!important;
        /*border: transparent;*/  }

.webTestingHoverHeading{
    text-align: center;
    margin-top: 5%;
    color:white;
    font-size: medium;
}
.apiTestingHoverHeading{
    text-align: center;
    margin-top: 5%;
    color:white;
    font-size: medium;
}
.mobileTestingHoverHeading{
    text-align: center;
    margin-top: 5%;
    color:white;
    font-size: medium;
}
.modal-title{
    text-align: center;
}.apiTestingFunctionalLabel1{

     margin-left:19% !important;
 }.apiTestingFunctionalLabel2{

      margin-left:23% !important;
  }
.apiTestingAutomationLabel1{

    margin-left:19% !important;
}.apiTestingAutomationLabel2{
     margin-left:16% !important;
 }
.labelMandatory:after {

    content: " *";
    color: red;
}
.apiTestingLoadabel1{

      margin-left:15% !important;
  }.apiTestingLodLabel2{

       margin-left:16% !important;
   }.apiTestingLodLabel3{

        margin-left:35% !important;
    }.apiTestingLodLabel4{

         margin-left:33% !important;
     }.apiTestingLoaLabel5{

          margin-left:28% !important;
      }
.row-eq-height {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display:         flex;
 }




/*#content {*/
    /*!*padding: 20px;*!*/
    /*!*min-height: 100vh;*!*/
    /*transition: all 0.3s;*/
/*}*/

/*.bodyLeftSide {*/
    /*!*padding: 0;*!*/
    /*vertical-align: top;*/
    /*float: left;*/
    /*overflow: auto;*/
    /*!*height: 10%;*!*/
    /*width: calc(100% - 18%);*/
    /*background: #fff;*/
    /*!*padding-bottom: 20px;*!*/
    /*!*padding-top: 30px;*!*/
    /*!*padding-left: 29px;*!*/
/*}*/

#sidebar {
    min-width: 230px;
    max-width: 230px;
    background: #4b8ec9;
    color: #fff;
    transition: all 0.3s;
    right:0;
    /*top:83px;*/
    /*position: fixed;*/
    position: absolute;
    /*bottom: 0;*/
    /*right: 0;*/
    /*height: 1000px;*/
}

#login{
    min-width: 230px;
    max-width: 230px;
    background-color: #4b8ec9;
    /*padding-left: 0;*/
    text-align: center;
}
.content{
    /*width: 100%;*/
    width: calc(100% - 230px);
    position: relative;
    bottom: 0px;
    /*overflow: auto;*/

}

/*#sidebar.active {*/
    /*margin-right: -249px;*/
/*}*/

/*#sidebar .sidebar-header {*/
    /*padding: 20px;*/
    /*background: #6d7fcc;*/
/*}*/

/*#sidebar ul.components {*/
    /*padding: 20px 0;*/
    /*border-bottom: 1px solid #47748b;*/
/*}*/



/*#sidebar ul li a {*/
    /*!*padding: 10px 0px;*!*/
    /*font-size: 1.1em;*/
    /*display: block;*/
    /*text-decoration: none;*/
/*}*/
/*#sidebar ul li a:hover {*/
    /*color: #7386D5;*/
    /*text-decoration: none;*/
/*}*/

/*!*#sidebar ul li.active > a, a[aria-expanded="true"] {*!*/
    /*!*color: transparent;*!*/
    /*!*background: #6d7fcc;*!*/
/*!*}*!*/
@media (max-width: 768px) {
    #sidebar {
        min-width: 100%;
        /*min-height: 20px;*/
        position: inherit;
        /*display: none;*/
    }
    /*navbar*/
    #login{
        min-width: 230px;
        max-width: 230px;
        background-color: transparent;
        /*padding-left: 0;*/
        text-align: left;
    }
    .content{
         width:100%;

     }

}
@media (min-width: 500px) and (max-width: 1100px) {
    .nav-btn{
        margin-top: 25px !important;
        margin-left: 5px !important;
        /*margin-bottom: 5px !important;*/
        padding-left: 1vw !important ;
        padding-right: 1vw !important;
    }

}
.navbar{
    background-color: #874aa3;
    color: white !important;
    margin-bottom: 0;
    border:none;
    border-radius: 0;


 }
.nav-btn{
    margin-top: 35px;
    margin-left: 40px;
    /*margin-bottom: 0px;*/
    padding-left: 5vw;
    padding-right: 5vw;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}.navbar-nav>li>a {
    padding: 5px;
}

.navbar-brand {
    padding-top: 7px;
    /*padding-bottom: 5px;*/
    /*height: 100px;*/
    /*line-height: 80px;*/
}
/*@media (max-width: 768px) {*/
    /*.bodyLeftSide {*/
        /*!*padding: 0;*!*/
        /*vertical-align: top;*/
        /*float: left;*/
        /*overflow: auto;*/
        /*!*height: 10%;*!*/
        /*width: 100%;*/
        /*background: #fff;*/
        /*!*padding-bottom: 20px;*!*/
        /*!*padding-top: 30px;*!*/
        /*!*padding-left: 29px;*!*/
    /*}*/
    /*.navbar-nav > li > a {*/
        /*!* (80px - line-height of 27px) / 2 = 26.5px *!*/
        /*padding-top: 20px;*/
        /*!*padding-bottom: 48px;*!*/
        /*!*line-height: 27px;*!*/
    /*}*/
/*}*/
